.input{
    position: relative;
    & > div{
        padding-left: 5px;
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    input{
        padding: 7px 0 7px 20px;
        border-radius: 8px;
        border: 1px solid #d9d9d9;
    }
}