.register {
    background: rgba(255, 192, 203, 0.5); 
    top: 0;
    position: absolute;
    z-index: 999;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
    .container {
        margin: 0 auto;
        max-width: 500px;
        padding: 0 10px;
    }
    &_content {
        background: linear-gradient(45deg, #FFC0CB, #FF69B4);
        position: relative;
        height: 65vh;
        border-radius: 10px;
        border: 2px solid rgb(231, 28, 102);
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .close_btn {
        width: 55px;
        position: absolute;
        right: 0;
        top: 20px;
    }
    .close_x {
        border: 1px solid #000;

    }
    .dFlex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content_user {
        width: 100%;
        display: flex;
        justify-content: space-between;
       
    }
    .auth {
        font-size: 13px;
        color: rgb(37, 36, 36);
    }
    &_btn {
        background: #fc4688;
        color: #000;
        width: 150px;
        height: 30px;
        border-radius: 15px;
        margin: 0 auto;
        border: 1px solid #766868;
    }
    input {
        width: 100%;
    }
}
